{% extends "layout.html" %}
{% block content %}
  <h1>Inventory</h1>
  <div class="row mb-2">
    <div class="col-md-6">
      <a href="{{ url_for('cardList') }}">
        <div class="no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative p-4">
          <h3>Cards</h3>
        </div>
      </a>
    </div>
    <div class="col-md-6">
      <a href="{{ url_for('cardList') }}">
        <div class="no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative p-4">
          <h3>Decks</h3>
        </div>
      </a>
    </div>
  </div>
{% endblock content %}
